body{
    color: #fff;
    font: 600 24px;
}
.box{
    background: #5dd176;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 95px;


}
.box:hover{
    background: #dba37f;
}
.box{
gap: 10px;
margin-top: 10px;
}